@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(240, 235, 216);
}

header {
  width: 100vw;
  height: 30vw;
  background-color: rgb(13, 19, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 100px;
  padding: 10px;
  background-color: rgb(240, 235, 216);
  border-radius: 50%;
}

.nav {
  background-color: rgb(13, 19, 33);
  border: 1px solid black;
  padding: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: rgb(62, 92, 118);
  border-radius: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
}

#cardapio {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.categoria {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  margin-bottom: 20px;
}

#prato,
#bebida,
#sobremesa {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(163, 180, 162);
  border-radius: 20px;
  box-shadow: .1px .1px 3px black;
}

#pratos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  background-color: rgb(29, 45, 68);
  padding: 20px;
  font-size: 0.7em;
  margin-bottom: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: .1px .1px 3px black;
  
}

.foto {
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#nome {
  margin-bottom: 5px;
}

#itemDetalhe {
  display: none;
}

#imagemItem {
  height: 300px;
  background-color: cadetblue;
  background-size: cover;
}

#imagemItem, #nomeItem, #promocao, #precoItem {
  margin-bottom: 10px;
}

#promocao {
  background-color: green;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  font-size: .5em;
  color: white
}

.itemDetalheSection {
  padding: 10px;
}